
<div id="about">
	<h2>Self-Aggrandizing</h2>
	<div id="about-professional">I'm a professional developer residing in Tempe, AZ doing the "work" thing. Before I was a professional developer, in my quasi-grad-school, days I was doing research on cross-layer wireless network routing algorithms with the Networks and Optimizations lab at Arizona State University. At the time I co-authored several papers in various conferences, journals, and the IEEE Transactions on Vehicular Technology. My development experience includes several widely-integrated, PCI-compliant e-commerce platforms, a handful of data protection/encryption suites, and a significant amount of work for one of the world's largest public-facing Certificate Authorities. At any given time I'm trying to find an hour here and there to work on one of my personal projects.</div>
	
	<div id="about-personal">In my not-so-professional life I'm always trying to find time to balance my hobbies.  I've been an avid martial artist for my entire adult life and you'll frequently find me helping out at the studio. I try to be an advocate for gay, lesbian, and transgender causes as frequently as I can.  When I'm out and about in the world I sometimes like to pretend I'm an amateur photographer.
	</div>
</div>

<div id="links">
	<h2>Links</h2>
	<ul>
		<li><%= link_to 'Flickr', "http://www.flickr.com/photos/squanderingtime/" %></li>
		<li><%= link_to 'Facebook', "http://www.facebook.com/home.php?#/profile.php?id=10014904" %></li>
		<li><%= link_to 'Twitter', "http://twitter.com/squanderingtime" %></li>
		<li><%= link_to 'LinkedIn', "http://www.linkedin.com/in/cchandler480" %></li>
		<li><%= link_to 'Blog', "http://liquidnonsense.blogspot.com" %></li>
	</ul>
</div>